body{
display: flex;
min-height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-color: #575757;
}
.btn {
	box-shadow:inset 33px 32px 0px -15px #474747;
	background:linear-gradient(to bottom, #575757 5%, #ffffff 100%);
	background-color:#575757;
	border-radius:42px;
	border:12px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow:4px 3px 0px #3b3a3b;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #575757 100%);
	background-color:#ffffff;
}
.btn:active {
	position:relative;
	top:1px;
}
