/** Import de polices **/
@import url(https://fonts.googleapis.com/css?family=Electrolize);


body{	
/** Permet de centrer les éléments dans la page **/
 	display: flex;
 	min-height: 100vh;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	background-color: #575757;
}
body {
/** Permet de définir un fond ainsi q'une police d'écriture **/
	background: url(https://cdn.wallpapersafari.com/38/75/NGQpWR.gif);
	color: rgb(250, 253, 247);
	font: italic small-caps bold 16px/2 cursive; 
	color: rgb(250, 253, 247);
	text-shadow: black 1px 3px 3px;
	font-family: 'Electrolize', cursive;
	background-repeat: no-repeat;
	background-size: cover;
}

/** L'image fait toujours la même hauteur **/
img{
	margin: 40px;
	border: 1rem solid white; 
	padding: 0px;
	height: 40vh;
	width: auto;
  }

  
  h1,h2{
	max-width: 800px;
	line-height: 1.5;
	animation-name: fade-in;
	animation-duration: 2s;
  }
	
img{
	margin: 40px;
	border: 1rem solid white; 
	padding: 0px;
	height: 40vh;
	width: auto;
	animation-name: fade-in;
	animation-duration: 2s;
  }  
	
	@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

/** Boutons **/
.btn {
	box-shadow: 3px 4px 0px 0px #9fb4f2;
	background-color:#ffffff;
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#404040;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #6b6b6b;
}
.btn:hover {
	background-color:#e1e4e6;
}
.btn:active {
	position:relative;
	top:1px;
}

.sg {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.sg:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.sg:active {
	position:relative;
	top:1px;
}
